<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thai ID Card OCR</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<h1>Thai ID Card OCR</h1>
<div id="uploadImage">
<form id="uploadForm" action="/upload" method="post" enctype="multipart/form-data">
    <label for="fileInput" class="labelText">Upload Thai ID Card Image:</label>
    <input type="file" id="fileInput" name="fileInput" accept=".png, .jpeg, .jpg" required>
    <span class="error" id="fileError"></span>
    <br><br> <br>
    <button type="button" class="uploadBtn" onclick="validateAndUpload()">Upload</button>
</form>
</div>

<div id="output">
    <!-- Display OCR results or error messages here -->
    <h1>OCR output</h1>
    <% if (name !== 'Not found') { %>
            <p>Name: <%= name %></p>
        <% } %>

        <% if (lastName !== 'Not found') { %>
            <p>Last Name: <%= lastName %></p>
        <% } %>

        <% if (identificationNumber !== 'Not found') { %>
            <p>Identification Number: <%= identificationNumber %></p>
        <% } %>

        <% if (dateOfIssue !== 'Not found') { %>
            <p>Date of Issue: <%= dateOfIssue %></p>
        <% } %>

        <% if (dateOfExpiry !== 'Not found') { %>
            <p>Date of Expiry: <%= dateOfExpiry %></p>
        <% } %>

        <% if (dateOfBirth !== 'Not found') { %>
            <p>Date of Birth: <%= dateOfBirth %></p>
        <% } %>
</div>

<script>
    function validateAndUpload() {
    var fileInput = document.getElementById('fileInput');
    var fileError = document.getElementById('fileError');
    var outputDiv = document.getElementById('output');

    // Reset previous error messages
    fileError.textContent = '';

    // Check if a file is selected
    if (!fileInput.files || fileInput.files.length === 0) {
        fileError.textContent = 'Please select a file.';
        return;
    }

    // Get the selected file
    var file = fileInput.files[0];

    // Check file type
    var allowedTypes = ['image/png', 'image/jpeg', 'image/jpg'];
    if (!allowedTypes.includes(file.type)) {
        fileError.textContent = 'Invalid file type. Please upload a PNG, JPEG, or JPG image.';
        return;
    }

    // Check file size (in bytes)
    var maxSize = 2 * 1024 * 1024; // 2MB
    if (file.size > maxSize) {
        fileError.textContent = 'File size exceeds 2MB limit. Please upload a smaller file.';
        return;
    }

    outputDiv.innerHTML = '<p>File validation successful. Uploading...</p>';

    // Now, submit the form
    document.getElementById('uploadForm').submit();
    }
</script>

</body>
</html>
